@model Categoria

<h2>Planejamento Financeiro</h2>

<div asp-validation-summary="All" class="text-danger"> </div>

<form asp-action="AdicionarCategoria" asp-controller="Home" method="post">
    <input type="hidden" asp-for="CategoriaId"/>

    <div class="mb-3">
        <label class="form-label">Categoria:</label>
        <input class="form-control" type="text" asp-for="Nome" />
    </div>

  

    <button type="submit" class="btn btn-success w-100 mb-2">Adicionar</button>
    <a asp-action="Index" class="btn btn-danger w-100">Cancelar</a>

</form>